.cont{
  border: 1px solid;
  border-color: #C0C0C0;
  border-radius: 2px;
  position: relative;
  margin-top: 20px;
  top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 50%;
  overflow: hidden;
}
input{
  padding: 5px;
  height:20%;
  font-size: 18px;
  text-align: center;

}
#fname,#lname{
  width: 50%;
  overflow: hidden;
}
#fname{
  float: left;
}
#lname{
  float: right;
}
#pcontact,#scontact{
  width: 50%;
  overflow: hidden;
}
#pcontact{
  float: left;
}
#scontact{
  float: right;
}
.row2{
  width: 100%;
  height: inherit;
  overflow:hidden;
}
#house{
  width: 25%;
  float: left;
}
#street{
  width: 37%;
}
#street:active{
}
#landmark{
  width: 38%;
  float: right;
}
.row3{
  width: 100%;
  overflow: hidden;
}
#locality{
  width: 43%;
  float: left;
}
#city{
  width: 57%;
  float: right;
}
.row4{
  width: 100%;
  overflow-y: hidden;
}
#pin{
  width: 18%;
  float: left;
}
#state{
  width: 40%;
  float: left;
}
#country{
  width: 42%;
}
.btun{
  width: 100%;
  margin-top: 20px;
}
button{
  white-space: nowrap;
  position: relative;
  top:60px;
  left: 20px;
  text-align: center;
  color: white;
  font-size: 18px;
  width: 250px;
  height: 10%;
  margin-top: 6px;
  border: 1px solid;
  border-color: #00BB00;
  background-color:#00AA00;
  border-radius: 1px;
  cursor: pointer;

}
