.up{
  height: 50%;
  width: 100%;
  background: #141E30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 2;
  position: absolute;
  top: 0px;
}
.box{
  border: 2px solid grey;
  border-radius:8px;
  width: 25%;
  height: 65%;
  z-index: 3;
  position: absolute;
  top: 20%;
  left: 37%;
  background: white;
}
.logocirc{
  width: 150px;
   height: 150px;
     border: 2px solid grey;
   -moz-border-radius: 80px;
   -webkit-border-radius: 80px;
   border-radius: 80px;
   position: relative;
   top:10%;
   left: 28%;
}
input[type=text]{
  position: absolute;
  top: 65%;
  left: 10%;
  width: 80%;
}
input[type=password]{
  position: absolute;
  top: 80%;
  left: 10%;
  width: 80%;
}
