/MEAN/meanstack-app1/node_modules/*
/MEAN/meanstack-app/node_modules/*
/MEAN/sampleapp/express-code/node_modules/*
/MEAN/skillrack-sampleapp/node_modules/*
/MEAN/DBMSproject/node_modules/*
/MEAN/mocha-n-chai/node_modules/*
/phantomjs/node_modules/*
the-complete-react-web-developer-course-udemy/indecision-app/node_modules/*
