<div data-ng-init="loadq()">
  <div>
    <h2>{{statement}}</h2>
    <div style="float:right">Posted on: {{top}}</div><hr />
    <h5>{{desc}}</h5>
  </div>
  <div ng-repeat='a in answer' class="panel-group">
    <div class="panel panel-default">
    <div  class="panel-heading">
    <div>{{a.txt}}</div>
    <br />
    <div><span ng-model="a.upvotes" style="font-family:monospace">upvotes:<span class="badge">{{a.upvotes}}</span></span>
    <span ng-model="a.downvotes" style="font-family:monospace">downvotes:<span class="badge">{{a.downvotes}}</span></span>
    <span style="float:right;font-family:monospace">by: {{a.u_id}}</span></div><br />
    <button type="submit" ng-click="upvote(a.a_id,a)" class="btn btn-success btn-sm">Upvote</button>
    <button type="submit" ng-click="downvote(a.a_id,a)" class="btn btn-sm">Downvote</button><br /><br />
  </div>
    <div class="panel-body">
      <h4><u>Comments</u></h4>
      <div ng-repeat="c in comments" ng-show='comments' ng-if="c.a_id == a.a_id">{{c.stmt}}<span style="float:right">by: {{c.u_id}}</span></div><br />
    <button type="button" ng-click="showComment(a.a_id)" class="btn btn-sm">Comment</button>
    <form ng-show="comment" ng-if="a.a_id==meanid"><br />
      <textarea rows="3" class="form-control" ng-model="commentext" placeholder="your comment here.."></textarea><br />
      <button type="button" class="btn btn-success" ng-click="putComment(a.a_id,commentext)">Submit</button>
      <button type="button" class="btn btn-default" ng-click="cancelComment()">Cancel</button>
    </form>
  </div>
  </div>
</div>
</div>
<button type="submit" class="btn btn-primary" ng-click="click()">Write an Answer</button><br /><br />
<form ng-show="clicked">
  <div class="form-group"  id="response">
    <textarea class="form-control" required rows="5" name="answer" ng-model="ans" id="answer" placeholder="Your response here"></textarea><br />
    <button type="button"  id="st" class="btn btn-success" ng-click="putans()">Submit</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</form>
  <br />
  <br />
</div>
