
<form class="form-inline form" role="form">
  <div class="form-group">
     <label for="username" class="control-label labels">Username:</label>
       <input type="text" class="form-control input-group-lg" required id="username" name="username" ng-model="username"/>
     </div>
   <div class="form-group" style="margin-left:20px;">
     <label class="control-label labels" for="pass">Password:</label>
       <input type="password" class="form-control" required id="pass" name="password" ng-model="password"/>
   </div>
  <button class="btn btn-primary" style="margin-left:10px;" id="login" type="submit" ng-click="login()">Login</button>
</form>
<div style="color:#CC0000" ng-show="message">{{message}}</div>
