.custom {
background-color:#141204;
}
li:hover {

}
li a {
  color: black;
}
li a:hover {
  color: white;

}
.link{
  color: white;
}
#logout{
  float: right;
}
#icon{
  color:white;
  font-size:35px;
  font-family: "Monaco";
  margin-right: 7px;
}
