<!DOCTYPE html>
<html>
  <head>
    <base href="/" />
    <title>Skillrack</title>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="app" ng-controller="log">
    <form ng-submit="signup()">
      <label for="id">ID:</label>
      <input type="text" required id="id" name="id" ng-model="id"/>
      <label for="pass">Password:</label>
      <input type="password" required id="pass" name="password" ng-model="password"/>
      <label for="name">Name:</label>
      <input type="text" required id="name" name="name" ng-model="name"/>
      <br/>
      <input type="radio" name="check" value="0" ng-model="check"/>student
      <input type="radio" name="check" value="1" ng-model="check"/>teacher<br />
      <button type="submit">Signup</button>
    </form>
    <span style="color:red" ng-model="message" ng-if="message">{{message}}</span>
  </body>
</html>
