<!doctype html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">
  <header>
    <% include ../partials/header %>
  </header>
  <main>
    <div class="jumbotron">
      <h1>Great</h1>
      <p>
        Template using ejs
      </p>
    </div>
    <div>
      <h2>Single Variable</h2>
      <p>
        <%= tagline %>
      </p>
    </div>
      <h2>Loop</h2>
      <ul>
        <% drinks.forEach(function(drink){ %>
          <li>
            <%= drink.name %> - <%= drink.drunkness %>
          </li>
        <% }); %>
      </ul>
      <p>
        <%=: drinks | map:'name' |join%> 
      </p>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
